$sans: 'Open Sans', sans-serif !global;

#main {
  height: 100%;
  background-size: cover;
  background-position: center;
  background-image: url("https://source.unsplash.com/AumHYHRn2AM/2880x1920");

  position: relative;
  font-family: $sans;
}

// title

#chou-down {
  position: absolute;
  left: 2%;
  top: 2%;
  display: inline-block;
}

#chou-down h1 {
  text-transform: uppercase;
  font-size: 350%;
  letter-spacing: 4px;
  font-weight: bold;
}

// quote

#woolf {
  position: absolute;
  right: 2%;
  bottom: 2%;
  display: inline-block;
  text-align: right;
  font-weight: bolder;
}

// form

#session-form {
  position: absolute;
  display: inline-block;
  right: 39%;
  top: 30%;

  color: white;
  background-color: rgba(0, 0, 0, .7);
  text-align: center;
  border-radius: 5%;
  padding: 20px 50px;
}

#session-form h1 {
  font-size: 180%;
  padding-bottom: 8px;
  text-transform: uppercase;
}

#session-form input {
  border-bottom: 2px solid white;
  padding-top: 5px;
}

#session-form button:hover {
  color: #9CBA7F;
}

#session-form #reverse-form {
  font-size: 80%;
}
