$lato: 'Lato', sans-serif;
$sans: 'Open Sans', sans-serif;

#full-page {
  height: 100%;
}

#home-page {
  height: 100%;
}

#home-cover-img {
  background-image: url('http://res.cloudinary.com/dtwr3pge0/image/upload/v1535950742/shawn-ang-682394-unsplash-compressor_e35nwe.jpg');
  background-size: cover;
  background-position: center top;
  height: 100%;
}

.layer {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.3);
  color: white;
  display: flex;
  font-family: $lato;
  height: 100%;
  justify-content: center;
  width: 100%;
}

#home-search-bar-header {
  font-family: $allan;
  font-size: 55px;
  padding-bottom: 15px;
}

#home-search-form {
  position: relative;
  padding-bottom: 200px;
}

.home-search-bar-container {
  position: relative;
}

#home-search-bar {
  background: white;
  color: $teal;
  height: 50px;
  opacity: 0.92;
  padding-left: 15px;
  padding-right: 15px;
  width: 500px;
}

#home-search-bar::placeholder {
  color: $teal !important;
}

#home-search-icon {
  font-size: 30px;
  padding-left: 20px;
}
#home-search-icon:hover {
  color: $teal;
}

#home-slogan {
  bottom: 30px;
  display: inline;
  font-size: 22px;
  position: absolute;
}

#popular-tags {
  text-align: center;
  margin: 30px 0px;
  text-transform: uppercase;
  font-family: $sans;
  font-size: 150%;
  letter-spacing: 1px;
}

@media all and (max-width: 900px) {
  #home-cover-img {
    width: 900px;
  }
}
