#home-index {
  width: 70%;
  margin: 0 auto;
  font-family: $lato;
}

#home-index ul {
  padding-bottom: 40px;
}

#home-index li {
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  width: 100%;
  height: auto;

  margin-top: 15px;
  margin-bottom: 15px;

  color: transparent;
  font-size: 120%;
  position: relative;
}

#home-index p {
  text-align: center;
  position: absolute;
  padding-left: 5%;
  padding-top: 3%;
  z-index: 1;
}

#home-index li:hover {
  cursor: pointer;
}

#home-index li:hover p {
  color: white;
  font-weight: bold;
}

#home-index p:hover + img {
  filter: brightness(50%);
}

#home-index img:hover {
  filter: brightness(50%);
}
