#review-form-container {
  text-align: center;
}

#review-form.fixed {
  position: fixed;
  top: 100px;
}

#review-form {
  margin-right: 100px;
  padding-bottom: 50px;
}

#review-form .rating {
  padding: 20px 0px;
  font-size: 150%;

  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em;
  cursor: pointer;
}

.filled-star:before {
  content: '\2605';
  position: absolute;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: '\2605';
  position: absolute;
}

.review-form-input {
  border: 1px solid black;
  height: 200px;
  padding: 10px;
  resize: none;
  text-align: left;
  width: 95%;
}

#review-form button {
  font-weight: bold;
}

#review-form button:hover {
  color: $teal;
}

#image-drop-container {
  padding-bottom: 20px;
}

#image-drop-container p {
  margin-bottom: 20px;
  text-transform: uppercase;
  font-size: 80%;
  font-weight: bold;
}

#image-drop-container .remove-photo:hover {
  cursor: pointer;
}

.image-drop i {
  font-size: 200%;
}

.image-drop i:hover {
  color: $teal;
  cursor: pointer;
}

@media all and (max-width: 500px) {
  #review-form.fixed {
    position: static;
  }
}
