#review-form-container {
  text-align: center;
}

#review-form.fixed {
  position: fixed;
  top: 100px;
}

#review-form {
  margin-right: 100px;
  padding-bottom: 50px;
}

#review-form .rating {
  padding: 20px 0px;
  font-size: 150%;

  unicode-bidi: bidi-override;
  direction: rtl;
}

.rating > span {
  color: $teal;
  display: inline-block;
  position: relative;
  width: 1.1em;
  cursor: pointer;
}

.filled-star:before {
  content: "\2605";
  color: $teal;
  position: absolute;
}

.rating > span:hover:before,
.rating > span:hover ~ span:before {
   content: "\2605";
   color: $teal;
   position: absolute;
}

#review-form textarea {
  border: 1px solid $teal;
  width: 95%;
  height: 200px;
}

@media all and (max-width: 500px) {
  #review-form.fixed {
    position: static;
  }
}
