#search-drop-down {
  position: absolute;
  top: 28px;
  left: 139px;
  width: 160px;
  padding: 5px 10px;

  background-color: rgba(0,0,0,.8);
  font-size: 85%;
}

#search-drop-down li {
  padding: 3px 0;
}

#search-drop-down li:hover {
  cursor: pointer;
}
